# .coveragerc to control coverage.py
[run]
branch = True

omit=
    venv/**
    tests/**
    integration/**
    **/__init__.py

include=
    app/**
    main.py

[html]
directory = build-reports/html

