build-docker-containers.sh
build-reports
.coverage
.coveragerc
deployer.json.gpg
deploy-settings-api.env
deploy-settings-cron.env
deploy-settings-frontend.env
deploy-settings-proxy.env
deploy.sh
docker-compose.yml
.gcloudignore
.git
.github
.gitignore
.idea
index.yaml
integration
integration-test-dc.yml
.mypy_cache
.pytest_cache
README.md
run-before-commit.sh
scripts
secrets
services
static
tests
frontend/node_modules
