# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
.git
.gitignore
.pytest_cache
.mypy_cache
.vscode

# Python pycache:
__pycache__/
# Ignored by the build system
/setup.cfg

secrets/
google-appengine-credentials.json.gpg

frontend/
tests/
scripts/
.idea/
venv/
integration/
build-reports/

static/build/static/js/*.map

*.sh
*.tar
*.enc
.coverage
README.md
nginx-dev-proxy/
mypy.ini
