asynctest
coverage
mypy
black
faker
isort==4.3.4
PyHamcrest
flake8
flake8-print
flake8-logging-format
flake8-builtins
flake8-blind-except
flake8-comprehensions
flake8-string-format
flake8-bugbear
flake8-functions
flake8-todo
flake8-variables-names
flake8-tidy-imports
flake8-bandit
flake8-assertive
pylint
pytest
pytest-asyncio
pytest-cov
watchdog==0.9.0
